p {
    font-family: monospace;
}

h2 {
    font-family: monospace;
}

a {
    font-family: monospace;
}

h1 { 
    font-family: monospace;
}

a:hover {
    color: darkturquoise;
}

#header { 
    line-height: 2px;
}