h1 {
    font-size: 50px;
    color: saddlebrown;
    background-color: darkgray;
}

#myHeader {
    color: fuchsia;   
}

.myParagraph {
    font-size: 50px;
    color: blueviolet;
    border: 1px solid pink;
}