p {
    color: orange;
    font size: 1rem;
}

p span {
    color: green;
    text-decoration: line-through;
}

em.highlight {
    background-color: pink;
}

h4.highlight {
    font-size: 3rem;
}

strong.highlight {
    color: purple;
}

.highlight {
    text-decoration: underline;
}

#overview h4 {
    font-family: monospace;
}

#strategy {
    outline: 1px red solid;
}

#ex4 aside h4 {
    color: purple;
}

#example > article > p {
    color: red;
}

li:hover {
    color:white;
}

li:nth-child(2) {
    color: blue; 
}