main {
    background-image: url(../img/yellow_floral.png);
    background-repeat: no-repeat;
    background-position: center;
}

main > div {
    padding-top: 12%; 
    padding-bottom: 12%;
    color: white;
    text-align: center;
    background: rgba(63,29,11,0.7);
    line-height: 1.5;
}

main a {
    border: white solid 2px;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: white;
}

#headerLogo {
    width: 10%;
    float: left;
    padding-left: 2%;
}

nav { 
    padding-top: 2%;
    padding-bottom: 1%;
}

ul li {
    float: right;
    display: inline;
    padding-left: 2%;
    padding-top: 6%;
    font-family: 'Yellowtail', cursive;
}

ul a {
    text-decoration: none; 
    color: black;
}

nav > ul { 
    padding-right: 3%;
}

ul a:hover {
    color: darkgreen;
}

#ColdAssDrinks { 
    width: 40%;
    float: left;
}

#about { 
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#aboutText {
    padding-top: 2%;
    padding-left: 42%;
    padding-right: 5%;
}

#fourThings {
    text-align: center;   
    padding-left: 2%;
    padding-right: 2%;
}

#fourThings img {
    width: 100%;
}

#fourThings div {
    float: right; 
    width: 23%; 
    padding: 1%;
    height: 275px;
}

#foodPatio { 
    text-align: center;
}

#foodPatio div {
    float: right; 
    width: 30%;
    padding: 1%;
}

#foodPatio img {
    width: 100%;
}

.clearfix:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   line-height: 0;
   visibility: hidden;
}

#footer {
    background-color: #043F0B;
    color: white; 
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    line-height: 1.5;
}

#footer a {
    color: white;
}

h2 {
    font-family: 'Yellowtail', cursive;
    font-size: 3em;
}

h3 { 
    font-family: 'Yellowtail', cursive;
    font-size: 2em;
}

p {
    font-family: 'PT Sans', sans-serif;
}