* {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border: red;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', serif;
}

h4, p { 
    font-family: monospace;
}

#header { 
    line-height: 30px;
    text-align: center;
    background-color: #e55934;
    padding-top: 15px;
    padding-bottom: 10px; 
}

body {
    background-color: #dbd053;
}

nav { 
    display: inline;
    font-family: monospace;
}

#more {
    text-align: center;
}

#posin {
    width: 200px;
}

#posin:hover {
    opacity: 0.9;
    border-radius: 200px;
    background: #34d1bf;
}

a:hover {
    color: #34d1bf;
}

table {
    float:inherit;
}

.center {
    width:40%; 
    margin-left:30%; 
    margin-right:30%;
    margin-top: 25px;
    text-align: center;
  }