* {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', serif;
}

h4, p { 
    font-family: monospace;
}

#header { 
    line-height: 30px;
    text-align: center;
    background-color: #e55934;
    padding-top: 15px;
    padding-bottom: 10px; 
}

body {
    background-color: #dbd053;
}

nav { 
    display: inline;
    font-family: monospace;
}

#more {
    text-align: center;
}

#posin {
    width: 200px;
}

.circleIcon:hover {
    opacity: 0.9;
    border-radius: 200px;
    background: #34d1bf;
}

.circleIcon {
    margin-left: 400px;
}