* {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', serif;
}

h4, p { 
    font-family: monospace;
}

#header { 
    line-height: 30px;
    text-align: center;
    background-color: #e55934;
    padding-top: 15px;
    padding-bottom: 10px; 
}

body {
    background-color: #dbd053;
}

nav { 
    display: inline;
    font-family: monospace;
}

#shine {
    text-align: center;
    animation: type 4s steps(60, end); 
}

#circlePic {
    width: 300px;
}

#more {
    text-align: center;
}

button {
    color: white;
    background: #494242; 
}
