html {
    background: #ccc;
}

div, p {
    margin: 0;
    padding: 0;
}

.outer {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background: #9CF;
    padding: 1px;
}

.box {
    padding: 10px;
    margin: 20px;
}

p {
    background: #EEA458;
    height: 100%;
}