body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding: 2% 1%;
    width: 98%;
}

h1 { 
    float: left; 
    font-size: 25px;
}

nav li { 
    display: inline-block;
    padding-top: 2%; 
    padding-left: 15px;
    font-size: 0.8em;
}

h2 { 
    font-size: 2rem;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
    color: black;
}

nav ul {
    float: right; 
}

.clearfix:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   line-height: 0;
   visibility: hidden;
}

main { 
    background-image: url(../img/wine-bg.jpg);
    background-size: cover;
    text-align: center;
    color: white; 
}

main > div { 
    background-color: rgba(0, 0, 0, 0.8);
    padding: 150px;
}

.twoBoxes {
    width: 100%;
    text-align: center;
}

.twoBoxes p { 
    font-size: 0.8em;
    padding-left: 10%;
    padding-right: 10%;
}

.twoBoxes div:first-child { 
    width:  60%; 
    float: left;
    padding-top: 12%;
}

.twoBoxes div:nth-child(2) {
    width: 40%; 
    float: left;
} 
    

.twoBoxes div img { 
    width: 70%;
    margin-right: 15%;
}

.twoBoxes h3 {
    font-family: serif;
    font-weight: 900;
    font-size: 1.3rem;
    font-style: italic;
    padding: 40px;
}

#middle {
    background-image: url(../img/wine13.jpg);
    background-size: cover;
    text-align: center;
    color: white; 
}

#middle h3 {
    font-family: serif;
    font-weight: 900;
    font-size: 1.3rem;
    font-style: italic;
    padding-bottom: 20px;
}

#middle > div {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px;
}


#wines img {
    width: 50%;
}

#wines p { 
    font-size: 0.8em;
}

#button {
    background: #91A05D;
    color: white; 
    width: 40%;
    text-align: center;
    font-size: 0.7em;
    padding: 5px;
    margin-left: 29%;
    margin-top: 5%;
    margin-bottom: 15%;
}

#wines > div {
    float: right;
    width: 25%;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}

#wines h3 {
    font-family: serif;
    font-weight: 900;
    font-size: 1.3rem;
    font-style: italic;
    padding: 2%;
}

#italic {
    font-style: italic;
}