body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding: 2% 1%;
    width: 98%;
}

h1 { 
    float: left; 
    font-size: 25px;
}

nav li { 
    display: inline-block;
    padding-top: 2%; 
    padding-left: 15px;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: black;
}

nav ul {
    float: right; 
}

.clearfix:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   line-height: 0;
   visibility: hidden;
}

main { 
    background-image: url(../img/wine-bg.jpg);
    background-size: cover;
    text-align: center;
    color: white; 
}

main > div { 
    background-color: rgba(0, 0, 0, 0.8);
    padding: 150px;
}


