html, body {
    margin: auto;
    padding: 0;
}

* {
    font-family: sans-serif; 
}

.readMore {
    border-right: 3px solid red;
    width: 75px;
    text-align: center;
    background: #f5f5dc;
    color: burlywood;
    font-size: 0.5rem;
    padding: 3%;
}

main { 
    width: 100%;
}

.block {
    float: right;
    width: 31%;
    padding: 1%;
}

img {
    width: 100%;
}

p .readMore { 
    font-size: 0.7rem;
    text-align: right;
}