.my_nav { 
    background-color: #acbdba;
}

.my_mid {
    margin-top: 2%;
}

.my_map {
    padding-top: 3.5%;
}

.food {
    margin-top: 2%;
}

.fourpics img {
    padding: 0.5%;
}

#call {
    background-color: #e23622;
    text-align: center;
    color: white;
    margin-top: 1%;
}

#call a{
    text-decoration: none;
    color: white;
}

.my_footer {
    background-color: #acbdba;
    margin-top: 2%;
    height: 100%;
    padding-top: 1%;
}

.my_footer img {
    width: 2%;
    padding-bottom: 2%;
    padding-top: 1%;
}

body {
    overflow-x: hidden;
}
