section { 
    float: left;
}
    
h1 {
    font-size: 1.9em;
    color: #252b3b;
}

p { 
    color: #555; 
    padding-bottom: 20px;
}

img { 
    width: 100%
}

#rightBox {
    text-align: center;
    background-color: rgb(240,240,240);
    width: 500px;
    padding-top: 110px;
    padding-bottom: 110px;
}

#leftBox {
    width: 500px;
}

a { 
    text-decoration: none;
}

#readMore { 
    border: 2px solid #555;
    padding: 5px 5px 5px 5px;
}
    




