#header { 
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 5px;
}

section {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

#header {
    background: #0171C5;
    color: #ffffff;
}

nav p {
    display: inline;
}

nav a {
    color: #fff;
}

h2 {
    font-family: sans-serif;
}

#customerSupport {
    background: #F3F3F3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    clear:both;
}

img {
    width: 100%;
}

#blueComputer {
    float: right;
    width: 50%;
    
}

#readyWake {
    float: left;
    width: 50%;
    padding-top: 50px;
}

#ssd { 
    float: left;
    width: 50%;
}

h3 {
    font-family: sans-serif;
}

#architect { 
    width: 50%;
    float: right;
    padding-top: 50px;
}

#readyComp {
    width: 100%;
}

#ssdArch {
    width:100%;
}

