#header { 
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 5px;
}

section {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

#header {
    background: #0171C5;
    color: #ffffff;
}

 ul {
    list-style-type: none;
 }

li {
    display:inline;
}

li a {
    color: #fff;
}

h2 {
    font-family: sans-serif;
}

#customerSupport {
    background: #F3F3F3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    clear:both;
}

img {
    width: 100%;
}

#blueComputer {
    float: right
}

#readyWake {
  padding-top: 75px;
}

#ssd { 
    float: left;
}

h3 {
    font-family: sans-serif;
}

#architect { 
    padding-top: 75px;
    padding-bottom: 50px;
}


