.my_header {
    background-color: darkcyan;
    color: white;
}

li {
    display: inline;
    text-decoration: none;
    color: white;
}

.my_nav {
    margin-top: 1.5%;
    padding-top: 1.2%;
    margin-bottom: 1.5%;
    background-color: tomato;
}

ul {
    padding-left: 0;
}

img {
    width: 100%;
}

.my_footer {
    background-color: darkcyan;
    margin-top: 1.5%;
    height: 35px;
}